html {
  background-color: white;
}

canvas {
  display: block;
  border: 1px solid black;
}

#toolbar input {
  margin-left: 14px;
  margin-right: 4px;
}

#toolbar button {
  display: block;
  margin: 4px;
  width: 180px;
}

#toolbar button:not(:last-child) {
  border-bottom: none;
}

#toolbar button:first-child {
  margin-top: 0;
}

.action-hint {
  padding-left: 8px;
}